body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.center {
  padding: 40px 15px;
  text-align: center;
}
