<!DOCTYPE html>

<html>
  <head>
    <title>Reversing string.</title>
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	
  </head>
  <body>
    <div class="container">
	  <h2>Reverse your string!</h2>
	  <form action ="{{ url_for('rev_str') }}" method="post">
	    <input type="text" name="user_input">
        <input type="submit" value="Reverse!">
	  </form>
	</div>
	
   
  </body>
</html>
	